<mat-toolbar>
    <span>
        <a mat-button routerLink="">
            <mat-icon>movie</mat-icon> Angular Películas
        </a> 
    </span>
    <div>
        <a mat-button routerLink="peliculas/filtrar">
            <mat-icon>search</mat-icon>
            Buscar Películas</a>
    </div>
    <div>
        <a mat-button routerLink="generos">Géneros
            <mat-icon>category</mat-icon>
        </a>
    </div>
    <div>
        <a mat-button routerLink="actores">Actores
            <mat-icon>person</mat-icon>
        </a>
    </div>
    <div>
        <a mat-button routerLink="cines">Cines
            <mat-icon>theaters</mat-icon>
        </a>
    </div>
    <div>
        <a mat-button routerLink="peliculas/crear">Crear Película
            <mat-icon>create</mat-icon>
        </a>
    </div>
</mat-toolbar>
