<app-listado-generico [listado]="peliculas">  
  <ng-container contenido>
    <div class="peliculas-contenedor">
      @for (pelicula of peliculas; track $index) {
        <div class="pelicula-contenedor">
          <a>
            @if(pelicula.poster){
              <img [src]="pelicula.poster" width="169" height="250" alt="Poster de la película">
            }@else {
              <img src="default.jpg" width="169" height="250" alt="Poster de la película">
            }
          </a>
          <p>
            <a>{{pelicula.titulo}}</a>
          </p>
          <div>
            <a mat-flat-button>Editar</a>
            <button mat-flat-button class="boton-rojo" >Eliminar</button>
          </div>
        </div>
      }
    </div>
  </ng-container>
</app-listado-generico>